:root {
    --color-text: #6d7f97;
    --color-back: #ecf2f8;
    --color-primary: #48556a;
    --color-secondary: #ffffff;
    --color-accent: #9eafc2;
}

/* 
CSS reset settings
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100dvh;
    font-family: Manrope, sans-serif;
    background-color: var(--color-back);
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: pretty;
    color: var(--color-primary);
}

p {
    text-wrap: pretty;
    max-width: 70ch;
    color: var(--color-text);
    font-size: clamp(.85rem, .6rem + 1vw, 1rem);
    font-weight: 500;
    line-height: 1.25rem;
}

img,
picture,
video,
canvas,
svg {
    max-width: 100%;
    display: block;
}

/* Mobile first design */

.card {
    display: flex;
    flex-direction: column;
    background-color: var(--color-secondary);
    width: clamp(20.5rem, 80vw, 28rem);
    /* margin-block: 4rem; */
    border-radius: .5rem;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 0px 16px color-mix(in srgb, var(--color-primary) 10%, transparent);
}

.card-content {
    padding-inline: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-block: 1rem;
    margin-top: 1.5rem;
}

.card-title {
    font-size: clamp(1.05rem, .5rem + 2vw, 1.45rem);
    /* font-size: 1.05rem; */
    font-weight: 700;
}

.card-text {
    padding-block: 1rem;
    margin-bottom: 1rem;
}

.card-footer {
    display: flex;
    gap: 1rem;
    width: 100%;
    align-items: center;
}

.author-avatar {
    height: 2.5rem;
    border-radius: 100%;
}

.footer-data {
    flex-grow: 1;
}

.author-name,
.footer-date {
    font-size: clamp(.65rem, .6rem + 1vw, .9rem);
}

.author-name {
    color: var(--color-primary);
}

.share {
    background-color: var(--color-back);
    border-radius: 50%;
    padding: .5rem;
    border: none;
    z-index: 1;
    cursor: pointer;
}

.share-icon {
    fill: var(--color-text);
    transition: all .3s;
}

.share:hover,
.share-active {
    background-color: var(--color-text);    
}

.share:hover .share-icon, .share-icon-active {
    fill: var(--color-back);    
}



.share-social {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.share-text {
    text-transform: uppercase;
    color: var(--color-accent);
    letter-spacing: .5ch;
    font-size: .9rem;  
}

.social-icon {
    fill: var(--color-back);

    &:hover {
        fill: var(--color-accent);
    }
}

.share-hidden {
    opacity: 0;
    transition: opacity .25s ease-in-out;
}

/* media queries */

@media (width < 1200px) {

    .card-image-container {
        height: clamp(13.5rem, 30vh, 20rem);
        overflow: hidden;
    }

    .card-image {
        object-fit: cover;
    }

    .share-menu {
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    box-sizing: content-box;
    padding-block: 1rem;
    height: 2.5rem;
    padding-inline: 2rem;
    gap: 1rem;
}

}

@media (width >=1200px) {

    .card {
        flex-direction: row;
        width: max(50vw, 53rem);
        overflow: visible;
    }

    .card-content {
        padding: 2.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 0;
    }

    p {
        line-height: 1.4rem;
    }

    .card-image-container {
        min-height: 100%;
        width: 90%;
        overflow: hidden;
        border-radius: .5rem 0 0 .5rem;
    }

    .card-image {
        height: 100%;
        object-fit: cover;
        object-position: left;
    }

    .share-menu {
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    position: absolute;
    width: fit-content;
    bottom: 25%;
    right:-4rem;
    border-radius: .5rem;
    box-sizing: content-box;
    height: 1rem;
    padding-block: 1rem;
    padding-inline: 2rem;
    gap: 1rem;
    box-shadow: 0px 0px 16px color-mix(in srgb, var(--color-primary) 50%, transparent);    
}

}